*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Public/assets/index/FundoBack1.png); */
    background-color: #749772;
}
.fundo{
    width: 64vw;
    height: 81vh;
    border: solid 2px;
    border-radius: 2vw;
    display: flex;
    background-image: url(./assets/index/fundoCadastro.jpg);
    background-size: cover;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.form_ipt{
    flex-direction: row;
}
#ipt_email{
    width: 68.7vh;
}
.formulario{
    width: 30vw;
    height: 80vh;
    display: flex;
    margin-left: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario input {
    width: 34vh;
    height: 7vh;
    border: none;
    border-radius: 5px;
    margin-top: 21px;
    font-size: 3vh;
}
.formulario select{
    width: 34vh;
    height: 7vh;
    border: none;
    border-radius: 5px;
}
.formulario button {
    margin-top: 7vh;
    border-radius: 5px;
    border: 0;
    width: 11vw;
    height: 3vw;
    font-size: 4vh;
    background-color: #0b653c;
}