* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url(../assets/index/fundoCadastro.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 
}

#logo {
 width: 13vw;
 margin-right: 50vh;
}

nav {
 display: flex;
 width: 100%;
 font-size: 22px;
 position: fixed;
 background-attachment: fixed;
 background-color: gray;
 justify-content: space-around;
 box-shadow: 0px 0px 15px black
}


nav li {
 display: inline-block;
}

nav li a {
 display: inline-block;
 color: white;
 text-decoration: none;
 padding: 15px;

}

nav li a:hover {
 background-color: rgba(110, 110, 110, 0.596);
 border-radius: 3px;

}

nav button {
 width: 5vw;
 height: 47px;
 border: none;
 margin-left: 73vh;
 margin-top: 7px;
 cursor: pointer;
 background-color: transparent;
}

.dropdown-menu {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu a {
 display: block;
 color: black;
}

.dropdown:hover .dropdown-menu {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu2 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu2 a {
 display: block;
 color: black;
}

.dropdown2:hover .dropdown-menu2 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu3 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 z-index: 15;
 display: none;
}

.dropdown-menu3 a {
 display: block;
 color: black;
}

.dropdown3:hover .dropdown-menu3 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}



#logo {
 width: 12vw;
 background-color: transparent;

}

#exit {
 width: 32px;
}

.container {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.card {
 width: 346px;
 height: 355px;
 background-color: rgba(138, 138, 138, 0.823);
 margin: 14px;
 border-radius: 13px;
 box-shadow: -1px 1px 20px 0px black;
 margin-top: 70px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 font-family: math;
}

.card p {
 margin: 13px;
}
.card h3 {
 margin-top: 8px;
 
}

.teste {
 width: 307px;
 height: 180px;
 background-color: whitesmoke;
 border-radius: 14px;
 margin-top: 10px;
}

.avaliacao {

  width: 42vw;
  height: 47vh;
  background-color: whitesmoke;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 60vh;
  top: 27vh;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.668);}

.avaliacao div {
  margin-top: 8vh;
}

.btn {
  width: 97px;
  height: 33px;
  font-size: 20px;
}

.estrelas img {
  width: 9vh;
  margin-left: 3vh;
  transition: .5s;
}
.estrelas h1 {
  font-size: 8vh;
  margin-bottom: 3vh;
  margin-top: -13vh;
  display: flex;
  justify-content: center;
}

#exitAvaliacao {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 2vh;
  left: 82vh;
}

#exitAvaliacao img {
  width: 6vh;
  cursor: pointer;
}

#btn1:hover {
transform: scale(1.5);
}

#btn2:hover {
  transform: scale(1.5);
}
#btn3:hover {
  transform: scale(1.5);
}
#btn4:hover {
  transform: scale(1.5);
}
#btn5:hover {
  transform: scale(1.5);
}

.resposta_avaliacao {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}