
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../assets/FundoCadastro.png);
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0;
}

.containerLogin {
  display: flex;
  width: 100%;
  margin: 0;
  height: 607px;
  align-items: center;
  justify-content: center;
}

.imgLateralLogin {
  display: flex;
  background-color: #2C3373;
  width: 350px;
  height: 313px;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
  align-items: center;
  color: rgb(240, 240, 240);
}

.imgLateralLogin h1 {
  width: 163px;
  height: 88px;
  font-size: 29px;
  padding-top: 7px;
}

.imgLateralLogin P {
  width: 221px;
  height: 63px;
  font-size: 18px;

}

.imgLateralLogin button {
  width: 111px;
  height: 31px;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(173 183 187);
  color: rgb(0, 0, 0);
  border: 0;
  transition: 0.5;
}

.imgLateralLogin button:hover {
  cursor: pointer;
  background-color: #0d1455;
}

.imgLateralLogin a {
  transition: 5;
}
  


.conteudoLogin {
  display: flex;
  width: 652px;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* LOGIN */
.login {
  height: 100vh;
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 607px;
}

.card {
  width: 623px;
  height: 370px;
  background-color: #d9d9d94b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  flex-direction: column;
  padding: 20px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9)
}

.cardLogin {
  width: 651px;
  height: 312px;
  background-color: #d9d9d9c0;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9)


}

.card h2 {
  align-self: start;
  margin: 7px;
  padding-left: 57px;
  font-size: 30px;
  padding-bottom: 20px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formularioLogin {
  display: flex;
  height: 1px;
  width: 431px;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 35px;
}

.formulario span {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
}

.formularioLogin span {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
}

.formulario input {
  width: 483px;
  height: 22px;
  border: none;
  text-align: start;
  border-radius: 15px;
  margin: 0;
  font-size: 15px;
}

.formularioLogin input {
  width: 294px;
  height: 20px;
  border: none;
  text-align: start;
  border-radius: 15px;
  margin: 0;
  font-size: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}
.senhas{
  flex-direction: row;
  display: flex;

}
.campoSenha input {
  display: flex;
    width: 221px;
    height: 22px;
    flex-direction: column;
    justify-content: start;
    margin: 2px 0px;
    
  
}
.campoSenha2 input {
  display: flex;
  width: 231px;
  height: 22px;
  flex-direction: column;
  justify-content: start;
  margin: 2px 9px;
  
}
.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 15px;
  font-weight: 720px;
  font-size: 25px;
  color: #fff;
  background-color: #2C3373;
  width: 165px;
  height: 45px;
  margin-top: 20px;
  transition: 0.9ms;
}

.botao:hover {
  cursor: pointer;
  background-color: #202236;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  /* display: flex;
  flex-direction: column; */
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* função de carregar */

.loaderCad {
  display: none;
  position: absolute;
  top: 89%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot1 {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot1:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot1:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot1:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot1:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot1:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  display: none;
  position: absolute;
  top: 82%;
  left: 38%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}