* {
    padding: 0;
    margin: 0;
    font-family: math;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.fundoImg {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/index/fundoCadastro.jpg);
    background-repeat: round;
    background-size: cover;
}

.card img {
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
}

#navbar {
    display: flex;
    width: 100%;
    height: 50px;
    z-index: 15;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(175, 175, 175, 1);
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    card-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);


}

#navbar img {
    size: 4vw;
}

#navbar ul {
    list-style: none;
    margin: 5px;
    padding: 8px;
    font-size: 25px;
}

#navbar li {
    margin-left: 30px;
    float: left;
}

#navbar .fixed {
    position: sticky;
    top: 0%;
    left: 0%;

}

#cadastro {
    background-color: #2C3373;
    color: white;
    display: flex;
    border: none;
    border-radius: 15px;
    width: 109px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.ContainerGrande {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

.PrimeiraPagina {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/index/FundoBack2.png);
    background-size: cover;
    background-repeat: round;

}

.textoPagina {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: end;
}

.textoPagina p {
    font-size: 43px;
    margin-bottom: 10px;
    width: 38vw;
    font-family: math;
}

#citacao {
    font-size: 30px;
}

.SegundaPagina {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url(../assets/index/Fundoback3.jpg);
    background-repeat: no-repeat;
    background-position: 59vh;
    background-attachment: fixed;
    justify-content: center;
}

.textoPaginaP3 {
    position: absolute;
    width: 39vw;
    height: 100vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 23px;

}

.textoPaginaP3 p {
    font-size: 28px;
    margin-bottom: 10px;
    width: 39vw;
    font-family: math;
}

.textoPaginaP3 button {
    width: 156px;
    height: 50px;
    margin-top: 91px;
    color: white;
    background-color: rgba(151, 146, 122, 1);
    border-radius: 20px;
    border: none;
    font-size: 22px;
    transition: 0.5;
}

.textoPaginaP3 :hover button {
    background-color: rgb(208, 202, 168);
}

#depoimento {
    font-size: 19px;
    margin: 10px;
}

.Sobreposicao img {
    width: 100%;
    height: 100vh;
}

.TerceiraPagina {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    background-image: url(../assets/index/FundoBack4.png);
    background-repeat: no-repeat;
    background-size: cover;
    justiiy-content: space-around;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 24vh;
}

.card-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 331px;
    border-radius: 10px;
    display: block;
    transition: transform 0.4s;
    height: 369px;
    display: flex;
}

.intro {
    width: 20vw;
    height: 0px;
    background: linear-gradient(transparent, #909090e6 120%);
    border-radius: 15px;
    position: absolute;
    left: 5vw;
    bottom: 9vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 38px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    margin-left: 0vw;
}

.intro h3 {
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 71%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.intro p {
    font-size: 15px;
}

.intro a {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.card:hover .intro {
    height: 75%;
}

.QuintaPagina {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.SobreMim {
    width: 35vw;
    height: 75vh;
    border-radius: 18px;
    background-color: bisque;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: center;
}

.pont {
    width: 25px;
    height: 15px;
    border-radius: 80px;
    background-color: #a6a6a6;
    margin-bottom: 15px;
    margin-right: 10px;
}

.SeobreMimText {
    width: 57%;
    font-family: math;
    font-size: 19px;
}

.SextaTela {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/index/FundoBack7.png);
    background-repeat: no-repeat;
    justify-content: center;
    background-position-x: -13vh;
    background-size: 65.3vw;
    flex-direction: column;


}

.TextoPaginaFinal {
    position: absolute;
    height: 100vh;
    width: 93%;
    justify-content: center;
    display: flex;
    align-items: end;
    flex-direction: column;
    top: 219vw;
}

.TextoPaginaFinal button {
    margin-right: 10vw;
    width: 10vw;
    height: 6vh;
    background-color: #2C3373;
    border-radius: 15px;
    border: none;
    font-size: 4vh;
    color: white;
}

.TextoPaginaFinal input {
    border-radius: 15px;
    border: solid 1px black;
    background-color: #d7d7d7;
    height: 6vh;
    width: 30vw;
}

.TextoPaginaFinal textarea {
    width: 30.5vw;
    height: 23vh;
    border-radius: 7px;
    background-color: #d7d7d7;
}

.TextoPaginaFinal span {
    font-size: 6vh;
    width: 30vw;
    margin: 5px;
}

.TextoPaginaFinal p {
    margin-right: 19vw;
    font-size: 2vh;
    color: red;
}

.iptFooter {
    flex-direction: row;
}

.iptFooter input {
    height: 6vh;
    width: 15vw;
    margin-bottom: 2vh;
}

#ipt_desc {
    width: 30vw;
    height: 28vh;
}

#ipt_desc input {
    text-align: start;
}

.SextaConteudo {
    margin: -5px;

}

.SextaConteudo img {
    width: 100%;
    height: 83vh;
    margin: 0;
}

.SextaTela footer {
    width: 100%;
    height: 157px;
    background-color: #AFAFAF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.LogoBlack img {
    margin-right: 57vw;
    height: 11vh;
}

.RedesContato img {
    height: 6vh;
    margin: 6px
}