* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body::-webkit-scrollbar {
 display: none;
}

body {
 background-image: url(../assets/index/fundoCadastro.jpg);
 background-size: cover;
 background-repeat: no-repeat;

}

#logo {
 width: 13vw;
 margin-right: 50vh;
}

nav {
 display: flex;
 width: 100%;
 font-size: 22px;
 position: fixed;
 background-attachment: fixed;
 background-color: gray;
 justify-content: space-around;
 box-shadow: 0px 0px 15px black
}


nav li {
 display: inline-block;
}

nav li a {
 display: inline-block;
 color: white;
 text-decoration: none;
 padding: 15px;

}

nav li a:hover {
 background-color: rgba(110, 110, 110, 0.596);
 border-radius: 3px;

}

nav button {
 width: 5vw;
 height: 47px;
 border: none;
 margin-left: 73vh;
 margin-top: 7px;
 cursor: pointer;
 background-color: transparent;
}

.dropdown-menu {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu a {
 display: block;
 color: black;
}

.dropdown:hover .dropdown-menu {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu2 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu2 a {
 display: block;
 color: black;
}

.dropdown2:hover .dropdown-menu2 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu3 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 z-index: 15;
 display: none;
}

.dropdown-menu3 a {
 display: block;
 color: black;
}

.dropdown3:hover .dropdown-menu3 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}



#logo {
 width: 12vw;
 background-color: transparent;

}

#exit {
 width: 32px;
}

.geral {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.geral h1{
  position: absolute;
  margin-top: 96vh;
}

.resposta-btn {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: auto;
 height: auto;
 margin: 5px;
 background-color: rgb(0, 0, 141);
 align-items: center;
 font-size: 20px;
 color: white;
 border-radius: 10px;
 border: none;
 padding: 10px;
 transition: .9s;
 cursor: pointer;
}

.resposta-btn:hover {
 background-color: rgb(11, 11, 194);
 ;
}



.content {
 width: 51vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: space-around;

}

.content h3 {
 font-size: 36px;
}

.content p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.respostas {
 flex-direction: row;
 display: flex;
}

.respostas button {
 margin: 5px;
}

.cronometro{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 15vh;
justify-content: center;
}

.content1 {
 width: 44vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 display: none;
 flex-direction: column;
 align-items: center;
}

.conten1 h3 {
 font-size: 36px;
}

.content1 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content2 {
 width: 44vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten2 h3 {
 font-size: 36px;
}

.content2 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content3 {
 width: 76vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten3 h3 {
 font-size: 36px;
}

.content3 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content4 {
 width: 51vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten4 h3 {
 font-size: 36px;
}

.content4 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content5 {
 width: 91vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten5 h3 {
 font-size: 36px;
}

.content5 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content6 {
 width: 69vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten6 h3 {
 font-size: 36px;
}

.content6 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content7 {
 width: 68vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: none;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten7 h3 {
 font-size: 36px;
}

.content7 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content8 {
 width: 88vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 display: flex;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten8 h3 {
 font-size: 36px;
}

.content8 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content9 {
 width: 88vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;

 flex-direction: column;
 align-items: center;
 display: none;
}

.conten9 h3 {
 font-size: 36px;
}

.content9 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

.content10 {
 width: 83vw;
 height: 66vh;
 background-color: #cbcbcb;
 border-radius: 15px;
 margin-top: 23vh;
 box-shadow: 0 0 20px black;
 justify-content: space-around;
 flex-direction: column;
 align-items: center;
 display: none;
}

.conten10 h3 {
 font-size: 36px;
}

.content10 p {
 margin: 15px;
 font-size: 20px;
 text-align: center;
}

#finalizar-btn {
 display: block;
 width: 200px; /* Adjust the width as needed */
 height: 50px; /* Adjust the height as needed */
 margin: 20px auto; /* Center the button horizontally with some margin */
 background-color: #ff5733; /* Choose a color that contrasts well with the background */
 color: white; /* Text color */
 font-size: 20px; /* Adjust font size as needed */
 border: none;
 border-radius: 10px;
 cursor: pointer;
 transition: background-color 0.3s;
}

#finalizar-btn:hover {
 background-color: #e64a19; /* Darker shade of the button color on hover */
}