* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url(../assets/index/fundoCadastro.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

html {
    height: 100%;
}

#logo {
 width: 13vw;
 margin-right: 50vh;
}

nav {
 display: flex;
 width: 100%;
 font-size: 22px;
 position: fixed;
 z-index: 1;
 background-attachment: fixed;
 background-color: gray;
 justify-content: space-around;
 box-shadow: 0px 0px 15px rgb(0, 0, 0)
}


nav li {
 display: inline-block;
}

nav li a {
 display: inline-block;
 color: white;
 text-decoration: none;
 padding: 15px;

}

nav li a:hover {
 background-color: rgba(110, 110, 110, 0.596);
 border-radius: 3px;

}

nav button {
 width: 5vw;
 height: 47px;
 border: none;
 margin-left: 73vh;
 margin-top: 7px;
 cursor: pointer;
 background-color: transparent;
}

.dropdown-menu {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu a {
 display: block;
 color: black;
}

.dropdown:hover .dropdown-menu {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu2 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu2 a {
 display: block;
 color: black;
}

.dropdown2:hover .dropdown-menu2 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu3 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 z-index: 15;
 display: none;
}

.dropdown-menu3 a {
 display: block;
 color: black;
}

.dropdown3:hover .dropdown-menu3 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}



#logo {
 width: 12vw;
 background-color: transparent;

}

#exit {
 width: 32px;
}

.container{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction:  row;
 justify-content: space-evenly;
 align-items: center;
}
.ranking{
    display: flex;
    width: 34vw;
    height: 84vh;
    background-color: gray;
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.ranking p {
    margin-right: 2vw;
    font-size: 19px;
}


.graficos{
    width: 61vw;
    height: 84vh;
    margin-top: 80px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graficos2{
    width: 61vw;
    height: 84vh;
    margin-bottom: 3vh;
    margin-top: 80px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.conteudoGrafico1{
    display: flex;
    position: relative;
    height: 65vh;
    width: 55vw;
    justify-content: center;
    background-color: gray;
}

.btn {
    border-radius: 5px;
    background-color: gray;
    width: 187px;
    height: 42px;
    color: white;
    border: none;
    margin-top: 15px;
    font-size: 15px;
}

.btn:hover {
    background-color: rgb(155, 154, 154);
}