* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url(../assets/index/fundoCadastro.jpg);
 background-size: cover;
 background-repeat: no-repeat;

}

#logo {
 width: 13vw;
 margin-right: 50vh;
}

nav {
 display: flex;
 width: 100%;
 font-size: 22px;
 position: fixed;
 background-attachment: fixed;
 background-color: gray;
 justify-content: space-around;
 box-shadow: 0px 0px 15px black
}


nav li {
 display: inline-block;
}

nav li a {
 display: inline-block;
 color: white;
 text-decoration: none;
 padding: 15px;

}

nav li a:hover {
 background-color: rgba(110, 110, 110, 0.596);
 border-radius: 3px;

}

nav button {
 width: 5vw;
 height: 47px;
 border: none;
 margin-left: 73vh;
 margin-top: 7px;
 cursor: pointer;
 background-color: transparent;
}

.dropdown-menu {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu a {
 display: block;
 color: black;
}

.dropdown:hover .dropdown-menu {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu2 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 transform: 1s;
 z-index: 15;
 display: none;
}

.dropdown-menu2 a {
 display: block;
 color: black;
}

.dropdown2:hover .dropdown-menu2 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}

.dropdown-menu3 {
 position: absolute;
 border: solid 1px black;
 border-radius: 2px;
 box-shadow: 0 0 2px black;
 z-index: 15;
 display: none;
}

.dropdown-menu3 a {
 display: block;
 color: black;
}

.dropdown3:hover .dropdown-menu3 {
 display: block;
 background-color: rgba(110, 110, 110, 0.596);
}



#logo {
 width: 12vw;
 background-color: transparent;

}

#exit {
 width: 32px;
}

.container{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 
}
.grafico{
 width: 576px;
 height: 318px;
 border-radius: 15px;
 background-color: gray;
 display: flex;
 flex-direction: column;
 margin-top: 162px;
 margin-left: 3px;
 align-items: center;
}
canvas {
 margin: 15px;
}
#grafico1{
 width: 50%;
}